.wrapper {
    width: 220px;
    min-height: 250px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 4px 3px;
    -webkit-box-shadow: #c9c9c9 max(6px) 6px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s;
}
.wrapper:hover {
    background-color: #f3f3f3;
}
.container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 100%;
    height: 40%;
    background-color: #e5e5e5;
}
.title {
    margin: 5px 0 5px 0;
    font-size: 16px;
    font-weight: 500;
}
.body {
    font-size: 14px;
    font-weight: 300;
}
.linkBody {
    text-decoration: none;
    color: black;
}