.snackbarClosed {
    visibility: hidden;
    transition: 0.5s;
}

.snackbarOpened {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    background-color: #25b09b;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 5%;
    top: 90%;
    transition: 0.5s;
}
.error {
    background-color: #bd0202;
}
.alert {
    font-weight: 300;
    font-size: 18px;
    color: white;
}